<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HBNB Filters</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-header.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/4-common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/3-footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/6-filters.css') }}">
</head>
<body>

    <div class="container">
        <div class="filters">
            <h3>States</h3>
            <ul class="popover">
                {% for state in states %}
                    <li>{{ state.name }}
                        <ul>
                            {% for city in state.cities %}
                                <li>{{ city.name }}</li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="filters">
            <h3>Amenities</h3>
            <ul class="popover">
                {% for amenity in amenities %}
                    <li>{{ amenity.name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer>
        <p>
            <a href="https://www.holbertonschool.com/">
                Holberton School
            </a>
        </p>
    </footer>

</body>
</html>
